src/main/mule/java-code.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	
	
	
	
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0498bb43-52f2-4f1e-8d96-5e00cf1a8a41" >
		<http:listener-connection host="0.0.0.0" port="8085" />
	</http:listener-config>
	<flow name="java-codeFlow" doc:id="778b3263-0cf6-4f06-9dad-9a3184793f2d" >
		<http:listener doc:name="Listener" doc:id="102915a1-3495-489d-9221-addf5afba83f" config-ref="HTTP_Listener_config" path="/java"/>
		<java:new doc:name="New CustomerDataProcessor" doc:id="996c5d2a-9e4e-4b8e-a5c7-34c79cc8e606" class="com.thbs.CustomerDataProcessor" constructor="CustomerDataProcessor()" target="customerDataProcessor">
		</java:new>
		<java:invoke doc:name="Invoke" doc:id="fa5fd466-19c6-4e18-bb3b-e87f96e3800b" instance="#[vars.customerDataProcessor]" class="com.thbs.CustomerDataProcessor" method="process(java.lang.String,int)">
			<java:args ><![CDATA[#[{
	data: attributes.queryParams.data,
	age: 68
}]]]></java:args>
		</java:invoke>
		<ee:transform doc:name="Object To XML" doc:id="d861fff4-0c29-40c4-a3b5-3a05d85a19e0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
customer: payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
